body {
    background: #dcf0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 2fr; 
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}
.left {
    position: relative;
    background-color: #f9c8e6;
    padding: 40px;

}
.profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #1d6fd9;
}
.avatar {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar img {
    position: absolute;
    width: 100%;
    height: 100%;
    top : 0;
    left: 0;
    object-fit: cover;
}
.profile h2 {
    color: #fff;
    margin-top: 20px;
    font-size: 1.5em ;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profile h2 span {
    font-size: 0.8em;
    font-weight: 300;
}
.profile span {
    color: #fff;
    font-size: 0.9em;
    margin-top: 5px;
}
.right {
    position: relative;
    background-color: #ffffff;
    padding: 40px;
}
.contact {
    padding-top: 40px;
}
.title {
    color: #e77aa2;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contact ul {
    position: relative;
}
.contact ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contact ul li .icon {
    display: inline-flex;
    width: 30px;
    font-size: 18px;
    color: #f590a1;
}
.contact ul li span {
    color: #fff;
}
.section ul li {
    color: #ffffff;
    margin-top: 10px;
}
.section.skills .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #ffffff;
    display: block;
    margin-top: 5px;
}   
.section.skills .percent::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: #ed9bad;
}
.about{
    margin-bottom: 50px;
}
.about:last-child{
    margin-bottom: 0;
}
.title2 {
    color: #e77aa2;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: #333;
}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year {
    min-width: 150px;
}
.about .box .year h5{
    text-transform: uppercase;
    color: #a1678f;
    font-weight: 600;
    letter-spacing: 1px;
}
.fav ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fav ul li{
    list-style: none;
    font-weight: 500;
    color: #333;
    margin: 10px 0;
}
.fav ul li i{
    color: #ed9bad;
    font-size: 18px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: left;
}
